@{
    Layout = null;   
}

<div id="news-partial">
   
    <div class="well" ng-repeat="new in news">

        <label><strong>{{new.Title}}</strong></label>	
	    <br />
	    <div ng-bind-html-unsafe="new.Body">{{new.Body}}</div>
	    
        <br />

        <div ng-repeat="tag in new.Tags" class="label label-info">
            {{tag}}
            <a ng-click="removetag($parent.$index, tag)">
                <i class="icon-remove"> </i>
            </a>
        </div>
        
        <select ui-select2 style="width: 200px" data-placeholder="-- Select One --"
            ng-change="selectTagAction($index)"
            ng-model="selectedTag"
            ng-options="tag for tag in tags | excludeExistingTags:new.Tags">  
        </select>
        
    </div>
</div>
