@{
    Layout = null;   
}

<h3>
    THIS IS THE NEWS TEMPLATE
</h3>

<div style="padding-left:10px; padding-right:10px">
    <div class="well" ng-repeat="new in news">
        <b>{{new.Title}}</b>
        <div>{{new.Body}}</div>
    </div>
</div>